body {
    position: relative;
    height: 100vh;
}

.submit {
    margin: 1rem 0;
}

.type-btn-wrapper {
    text-align: center;
    margin-top: 1rem;
}

h6 {
    padding-bottom: 0 !important;
}

.workoutBtn {
    margin:0.5rem;
}

footer {
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    background: rgb(211,241,245,0.5);
}

nav {
    background-color: rgb(211,241,245,0.5) !important;
}